:root{
    --sider-color: #ff4444;
    --sider-color-hover: #ff1111;
    --sider-font-color: #ffffff;
    --task-height: 40px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#content{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
}

#sider{
    background-color: var(--sider-color);
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}

.divisor{
    height: 1px;
    width: 70%;
    background-color: var(--sider-font-color);
    margin: 3px 0;
    border-radius: 50%;
}

.sider-button{
    font-size: 1em;
    padding: 8px;
    width: 100%;
    border: none;
    background-color: var(--sider-color);
    cursor: pointer;
    color: var(--sider-font-color);
    gap: 30px;
    justify-content: center;
}

.sider-button:hover{
    background-color: var(--sider-color-hover);
}

#projects{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

h1{
    font-size: 3rem;
    width: 100%;
    margin-bottom: 5px;
}

#add-task-button{
    background-color: #ffffff;
    color: #555555;
    height: var(--task-height);
    text-align: left;
    border: none;
    padding: 3px;
    cursor: pointer;
}

#add-task-button:hover{
    color: #000000;
    background-color: #eeeeee;
}

button{
    display: flex;
    align-items: center;
}